<div class="container">
    <div class="container" style="width:50%; float:left;">
        <h2 class="form-title">Editing {{featureModel.title}}</h2>
        <div class="row">
            <div>
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content angular-ui-tree-handle">
                        <img ng-if="node.type == 'Root Node'" src="images/root.gif" alt="root">
                        <img ng-if="node.type == 'OR Group'" src="images/OR.gif" alt="OR">
                        <img ng-if="node.type == 'XOR Group'" src="images/XOR.gif" alt="XOR">
                        <img ng-if="node.type == 'Mandatory'" src="images/mandatory.gif" alt="mandatory">
                        <img ng-if="node.type == 'Optional'" src="images/optional.gif" alt="optional">
                        {{node.title}}
                        <a ng-if="node.type != 'Root Node'" class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeNode(this)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a class="pull-right btn btn-primary btn-xs" ng-disable="addingNode" data-nodrag ng-click="goToAddingNode(this)" style="margin-right: 8px;">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.nodes">
                        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                        </li>
                    </ol>
                </script>
                <div ui-tree>
                    <ol ui-tree-nodes="" ng-model="tree" id="tree-root">
                        <li ng-repeat="node in tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
        <div ng-show="addingNode" style="padding-bottom: 35px; padding-left: 20px;">
            <h2 class="form-title">New node</h2>       
            <label class="control-label">Title</label>
                <input type="text" class="form-control" ng-model="title">
            <div style="padding-top: 15px;">
                <label class="control-label">Type</label>
                <select id="type" ng-model="type">
                    <option value="OR Group">Or Group</option>
                    <option value="XOR Group">XOR Group</option>
                    <option value="Mandatory">Mandatory</option>
                    <option value="Optional">Optional</option>
                </select>
            </div> 
            <div style="padding-top: 10px;">
                <button class="btn btn-default" ng-click="addNode()" ng-disabled="type===''||title===''">Add</button>
            </div>
        </div>
    </div>
    <div class="container" style="width:50%; float:right;">
        <h2 class="form-title">Constraints</h2>
        <div ng-hide="addingConstraints">
            <button class="btn btn-default" ng-click="goToAddingConstraints()">Add new constraint</button>
        </div>
        <div class="container" ng-show="addingConstraints">
            <span class="input-group-btn" style="display:inline-block;">
                <button class="btn btn-default" ng-click="addToLeft()">Add to left</button>
                <button class="btn btn-default" ng-click="addToRight()">Add to right</button>
            </span>
            <div class="form-inline">
                <div class="form-group" style="margin-right:20px">
                    <div id="left-space">
                        <select class="form-control" style="width:200px">
                            <option ng-repeat="feature in features" value="{{feature.title}}">{{feature.title}}</option>
                            <option ng-repeat="feature in features" value="not {{feature.title}}">Not {{feature.title}}</option>
                        </select>
                    </div>
                    <select class="form-control" style="width:120px">
                        <option value="excludes">excludes</option>
                        <option value="requires">requires</option>
                    </select>
                    <div id="right-space">
                        <select class="form-control" style="width:200px">
                            <option ng-repeat="feature in features" value="{{feature.title}}">{{feature.title}}</option>
                            <option ng-repeat="feature in features" value="not {{feature.title}}">Not {{feature.title}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div style="padding: 10px;">
                
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="form-title">Save new version</h2>
    <form novalidate class="simple-form">
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Summary</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="summary">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="description">
            </div>
        </div>
        <a ui-sref="home" class="btn btn-default" ng-click="saveFeatureModel()">Save</a>
    </form>
</div>
