<div class="container">
    <h2 class="form-title">Editing</h2>
    <div>
        <div style="padding:5px 10px; vertical-align: middle;" >
            <button class="btn btn-default" ng-click="">Mandatory</button>
            <button class="btn btn-default" ng-click="">Optional</button>
            <button class="btn btn-default" ng-click="">OR Group</button>
            <button class="btn btn-default" ng-click="">XOR Group</button>
        </div>
        <div ui-tree>
            <ol ui-tree-nodes="" ng-model="currentFeatureModel.tree">
                <li ng-repeat="node in currentFeatureModel.tree" ui-tree-node>
                    <div ui-tree-handle>
                        {{node.title}}
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.tree">
                        <li ng-repeat="subItem in node.tree" ui-tree-node>
                            <div ui-tree-handle>
                                {{subItem.title}}
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <form  novalidate class="simple-form">
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Summary</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="version.summary">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="version.description">
            </div>
        </div>
        <a href="#/" class="btn btn-default" ng-click="saveFeatureModel()">Save</a>
    </form>
</div>