<div class="container">
    <div>
        <div ng-hide="addingContributor">
            <h1>Contributors</h1>
            <div ng-repeat="contributor in currentFeatureModel.contributors" style="padding:5px 10px; vertical-align: middle;">
                <label style="width: 200px; display:inline-block;">
                    {{contributor.user.username}}
                </label>
                <label style="width: 200px; display:inline-block;">
                    {{contributor.permission}}
                </label>
                <span class="input-group-btn" style="display:inline-block;">
                    <button class="btn btn-danger" ng-click="removeContributor($index)">X</button>
                </span>
            </div>
            <button class="btn btn-default" ng-click="goToAddingContributor()">Add new contributor</button>
        </div>
        <div ng-show="addingContributor">
            <h1>Add new contributor</h1>
            <label>Username</label>
            <input type="text" placeholder="Username" ng-model="username">
            <label style="padding:15px">This user can</label>
            <select name="permissionSelect" id="permissionSelect" ng-model="permissionSelect">
                <option value="configure">Configure</option>
                <option value="edit">Edit</option>
                <option value="administrate">Administrate</option>
            </select>
            <br>
            <button class="btn btn-default" ng-disabled="permissionSelect===''" ng-click="addContributor()">Grant permission</button>
            <button class="btn btn-default" ng-click="goBack()">Cancel</button>
            <div style="padding:10px;width:50%;" class="warning" ng-show="addingContributorError">
                <span ng-show="addingContributorError">{{addingContributorErrorMessage}}</span>
            </div>
        </div>
    </div>
    <div>
        <h1>General changes</h1>
        <form  novalidate class="simple-form">
            <div class="form-group" style="padding:15px">
                <label class="col-sm-2 col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="width:50%" ng-model="title">
                </div>
            </div>
            <div class="form-group" style="padding:15px">
                <label class="col-sm-2 col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="width:50%" ng-model="description">
                    <span class="help-block">Describe the content of your new feature model</span>
                </div>
            </div>
        </form>
        <a href="#/main" class="btn btn-default" ng-disabled="!changed&&(title===''||description==='')" ng-click="saveFeatureModel()">Save changes</a>
        <a href="#/main" class="btn btn-danger" ng-click="removeFeatureModel()">Delete this feature model</a>
    </div>
</div>