<div class="container">
    <div style="width:55%; float:left;"> 
        <h2>My feature models</h2>
            <div ng-repeat="featureModel in featureModels" style="padding:5px 10px; vertical-align: middle;">
                <label style="width: 150px; display:inline-block;">
                    {{featureModel.title}}
                </label>
                <span class="input-group-btn" style="display:inline-block;">
                    <a ui-sref="home" class="btn btn-default" ng-click="" aria-label="Configure">Configure</a>
                    <a ui-sref="editing" class="btn btn-default" ng-click="selectFeatureModel($index)">Edit</a>
                    <a ui-sref="versioning" class="btn btn-default" ng-click="selectFeatureModel($index)">Versions</a>
                    <a ui-sref="setting" class="btn btn-default" ng-click="selectFeatureModel($index)">Settings</a>
                </span>
            </div>
        <a ui-sref="creating" class="btn btn-default">Create</a>
    </div>
    <div style="width:45%; float:right;">
        <h2>Shared feature models</h2>
        <div ng-repeat="eFeatureModel in eFeatureModels" style="padding:5px 10px; vertical-align: middle;">
            <label style="width: 150px; display:inline-block;">
                {{eFeatureModel}}
            </label>
            <span class="input-group-btn" style="display:inline-block;">
                <a ui-sref="home" class="btn btn-default" ng-click="" aria-label="Configure">Configure</a>
                <a ui-sref="editing" class="btn btn-default" ng-click="editFeatureModel($index)">Edit</a>
            </span>
        </div>
    </div>
</div>

